snippet class "class with docstrings" b
class ${1:MyClass}():
	"""
	${2:Docstring for $1.}
	"""

	def __init__(self):
		"""
		Initialize.
		"""
endsnippet

snippet def "def with docstrings" b
def ${1:Mydef}():
	"""
	${2:Docstring for $1.}
	"""
endsnippet
