snippet equation "Equation envronment" b
\begin{equation}
	$0
\end{equation}
endsnippet

snippet array "Array environment" b
\left(
	\begin{array}{${1:c|ccc}}
		$0 & \\\
	\end{array}
\right)
endsnippet
